/*****Universal Components*****/

html{
    min-height: 100%;
}
a{
  color: inherit;
  text-decoration: none;
}
body{
    background-image: url(dark_embroidery.png);
    font-size: 62.5%;
    min-height: 100%;
}

#top{
    width: 100%;
    background-color: #d9b31c;
    background: linear-gradient(#d9b31c, #b8991d);
    margin: auto;
    padding-top: 40px;
}

#Container{
    width: 75%;
    min-height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #FFF2BF;
    overflow: auto;
}

#content_well{
    background-color: #ffffff;
    width: 75%;
    float: left;
    margin-left: 1em;
    min-height: 60em;
    overflow: auto;
    padding-bottom: 2em;
}

.one_quarter{
    width: 24%;
    height: 50%;
    float: right;
}

.topmost{
    margin-top: 1em;
}

.right_nav_box{
    width: 92%;
    height: 45%;
    background-color: #f2d86f;
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

.inner_border{
    background-color: #fsd86f;
    border: 2px solid #ffffff;
    height: 125px;
    margin: .5em;
}

.right_menu{
    color: #850000;
    font-family: Georgia;
    font-size: 1.8em;
    margin-left: .25em;
    margin-top: .35em;
    text-decoration:underline;
}

.right_menu_text{
    font-size: 1.3em;
    color: #25653d;
    font-family: Verdana;
    margin-left: .25em;
    margin-right: .25em;
    margin-top: -1.2em;
    max-width: 90%;
    max-height: 100%;
}

#seal{
    width: 12%;
    height: auto;
    margin-top: 4.5%;
    margin-left: 42%;
    z-index: 0;
    position: absolute;
}

#contact{
    text-align: right;
    float: right;
    clear: both;
    color: #25653d;
    font-family: Verdana;
    font-size: 1.6em;
    margin-right: 3%;
}

#logo{
    height: 25%;
    width: 25%;
}

#nav{
    font-family: Verdana;
    background-color: #25653d;
    background: linear-gradient(#25653d, #205434);
    color: #FFFFFF;
    height: 30px;
    font-size: 1.6em;
}

#nav ul{
    padding-top: .5%;
}

#nav ul li{
    display: inline-block;
    margin-right: 5%;
}

.dropdown{
    display: none;
    background: #25653d;
}

#nav li:hover{
    background: #2e7d4c;
}

#nav li:hover .dropdown{
    display: block;
    color: #ffffff;
    position: absolute;
    width: 15%;
    white-space: nowrap;
    padding-right: 1.5em;
}


#nav ul .dropdown li{
    display: block;
    min-width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#nav ul li .dropdown div{
    display: block;
    width: 100%;
    height: 100%;
    align: left;
    padding-right: 3em;
    margin-left: -2.5em;
    padding-left: 1em;
    margin-top: -0.35em;
}

.pagetitle{
  font-family: Georgia;
  margin-left: 2%;
  color: #850000;
  font-size: 2em;
}

.body_headers{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #d9b31c;
  display: block;
  color:#25653d;
  margin-left: 1em;
}

/*****END UNIVERSAL COMPONENTS*****/


#about_text{
  font-family: Verdana;
  width: 94%;
  margin:auto;
  margin-top: 3%;
  font-size: 1.3em;
}

.topmost .read_more{
  height: 20%;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}

.second_box .read_more{
  float: right;
  margin-right: 5%;
  margin-top: 8%;
  height: 20%;
}

.third_box .read_more{
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  height: 20%;
}

.fourth_box .read_more{
  float: right;
  margin-right: 5%;
  margin-top: 8%;
  height: 20%;
}

.content_table tbody{
  display:table-row-group;
  height: auto;
}

.content_table{
  width: 100%;
  height: auto;
}

.content_table tr{
  min-height: 15em;
  width: 100%;
  overflow: auto;
}

.content_table td{
  height:auto;
  padding:0;
  width:30%;
  overflow: auto;
  border-width:thin;
  border-style: solid;
  border-color:black;
}

#nav ul li:hover .dropdown div:hover{
  background: #2e7d4c;
}

.content_table img{
  width: 70%;
  margin:auto;
  padding-left: 3.2em;
  padding-top: 1em;
  max-height: 19em;
}

.content_table h3{
  font-family: Verdana;;
  color: #FFF;
  font-size:1.6em;
  margin:0;
  padding-top: .3em;
  height: 1.6em;
  text-align: center;
}

.content_table p{
  font-family: Verdana;
  font-size: 1.3em;
  width: 80%;
  float: left;
  padding-left: 2.3em;
  height: 10em;
  overflow: auto;
}

.img_back{
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-bottom-color: grey;
  height: 20em;
}

.headwrap{
  border-bottom-style: solid;
  border-bottom-color: #d9b31c;
  vertical-align: top;
  height: 3em;
  background: linear-gradient(#25653d, #205434);
}

/*****Featured Products Specific*****/
.featured_cell{
  min-height: 10em;
}

.featured_img{
  float: left;
  width: 25%;
  height: auto;
  padding-left: 1em;
  padding-bottom: 1em;
}

.featured_table{
  height: auto;
  width: 100%;
}

.featured_table tbody{
  display:table-row-group;
  height: auto;
}

.featured_table tr{
  min-height: 15em;
  width: 100%;
  overflow: auto;
}

.featured_table td{
  height:auto;
  padding:0;
  width:30%;
  overflow: auto;
  border-width:thin;
  border-style: solid;
  border-color: #25653d;
}

.featured_table h3{
  font-family: Verdana;
  color: white;
  padding-left: 1em;
  font-size: 1.5em;
  margin: 0;
  padding-top: .65%;
}

.feat_headwrap{
  vertical-align: top;
  height: 3em;
  width: 100%;
  background: linear-gradient(#25653d, #205434);
  float: left;
}

.feat_imgwrap{
  width: 30%;
  height: auto;
  float: left;
}

.feat_desc{
  width: 40%;
  font-size: 1.6em;
  float: right;
  font-family: Verdana;
  padding-right: 2em;
}

/*****END FEATURED PRODUCTS*****/