/*----------------Slider CSS----------------------------------*/

/* Slideshow container */
.slideshow-container {
	@media (min-width: 1200px) {
  		max-width: 1000px;
  		position: relative;
	}
  		margin-top: auto;
  		margin-left: auto;
  		margin-right: auto;
		overflow: hidden;

	@media (max-width: 320px) {
		width: 100% !important;
		height: auto;
	}
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  padding-left: 5px;
  padding-top: 5px;
  bottom: 8px;
  width: 100%;
}

.caption {
  font-size: 14px;
  font-family: Verdana;
  color: #25653d;
  margin-left: 2.5%;
  margin-top: 1%;
  line-height:1.25;
  padding-bottom:1%;
}

.caption_title {
  font-size: 25px;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 2.5%;
  line-height: 1.25;
  font-family: Georgia;
  color: #850000;
}

/* Number text (1/3 etc) */
#numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
height: 50px;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#underline{
  background-color: #d9b31c;
  height: 1.5px;
  width: 38%;
  margin-top: -20px;
  margin-left: 2.5%;
}



/*-------------Rectangle Styles---------*/
.bottom_rectangles {
  max-width: 100%;
  background-color: #FFFFFF;
  height: 40%;
}

#content_well_divide {
  background-color: #FFFFFF;
  width: 100%;
  height: 2px;
  margin-top: 5%;
}

.rect_1 {
  width: 24%;
  height: 100%;
  display: inline-block;
  float: left;
}

.content_well_text {
  font-family: Verdana;
  font-size: 14px;
  text-align: justify;
  margin-left: 2%;
}

.rect_heading {
  color: #25653d;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5%;
  font-family: Georgia;
  text-align: center;
  text-decoration: underline;
}

.rect_divider {
  width: 1px;
  height: 80%;
  display: inline-block;
  float: right;
  background-color: #d9b31c;
}

.rect_image {
    width: 90%;
    margin-left: 5%;
    height: 80%;
    padding-top: 10%;
}

.rect_card {
    width: 90%;
    height: 75%;
    box-shadow: #888888 1px 2px 2px 1px;
    margin-top: 15%;
    margin-left: 5%
}

.rect_card_title {
    width: 10%;
    height: 5%;
    margin-top: 12%;
    margin-left: 5%;
    position: absolute;
}

.rect_card_title h3 {
    font-size: 16px;
    font-family: Verdana;
    color: white;
    text-align: center;
    padding-top: 3%;
}