a{
  color:inherit;
}

a:hover {
    color: inherit;
}


#Container {
    clear: both;
    padding-bottom: 5%;
    margin-bottom: 1%;
    background-color: #FFF2BF;
}

#top{
    width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #d9b31c;
    background: linear-gradient(#d9b31c, #b8991d);
    margin-top: 0px;
    padding-top: 40px;
}

#headerSection {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

#seal{
    width: 12%;
    margin-top: 6.5%;
    margin-left: 41%;
    z-index: 0;
    position: absolute;
}
body{
    background-image: url(dark_embroidery.png);
    font-size: 62.5%;
}

#contact {
    text-align: right;
    clear: both;
    color: #25653d;
    font-family: Verdana;
    font-size: 1.6em;
    margin-right: 3%;
}

#nav {
    font-family: Verdana;
    font-size: 1.6em;
    background-color: #25653d;
    background: linear-gradient(#25653d, #205434);
    color: #FFFFFF;
}

#nav a {
    color: #ffffff;
}

#nav a:after {
    border-style: none;
}
#subDropdown {
    background-color: #25653d;
    background: linear-gradient(#25653d, #205434);
    border: none;
    top: 99% !important;
}


#subDropdown a:hover {
    background-color: #2e7d4c;
    transition: background-color 0.75s ease;
}

.no-js [data-responsive-menu] ul {
    display: none;
}

#nav #subDropdown {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height .65s, opacity .5s;
}

#nav ul li:hover #subDropdown {
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.35s, opacity .5s;
}


/*Content well styles*/


/*Slider styles*/
.slideshow-container {
    height: 45% !important;
}

.three_quarter_img {
    -webkit-mask-image:-webkit-gradient(linear, left top, right top, 
					color-stop(5%, rgba(255,242,190,0)),color-stop(10%, rgba(255,242,190,.35)),
					color-stop(15%, rgba(255,242,190,.80)),color-stop(20%, rgba(255,242,190,.95)), 
					color-stop(80%, rgba(255,242,190,.90)),color-stop(87%, rgba(255,242,190,.95)), 
					color-stop(95%, rgba(255,242,190,1)));
    width:60%;
    float: right;
    height: 100%;
}

.caption_section {
    width: 40%;
    margin: 0;
    float: left;
}

.caption_title {
    font-size: 25px;
    margin-left: 2.5%;
    font-family: Georgia;
    color: #850000;
}

/*Right Navigation Menu Styles*/
.right_nav_box {
    background-color: #f2d86f;
    height: 25%;
    padding: 2% 2.5% 2.5% 2.5%;
    margin-top: 5%;
    float: none !important;
}

.inner_border {
    border: 2px solid #ffffff;
    height: 100%;
}

.right_menu {
    color: #850000;
    font-family: Georgia;
    font-size: 1.8em;
    text-decoration: underline;
    padding: 1%;
    margin-bottom: 0;
}

.right_menu_text {
    font-size: 1.3em;
    color: #25653d;
    font-family: Verdana;
    max-width: 95%;
    margin: auto;
    min-height: 55%;
}

.read_more {
    max-width: 40%;
    float: right;
    padding-right: 3%;
    padding-top: 2%;
}

.content_well{
    background-color: #ffffff;
    float: left;
    min-height: 60em;
    overflow: auto;
    padding-bottom: 4em;
}